<h1><%= @game.title %></h1>
<br>
<br>

<h3>Console: <%= @game.console.name %></h3> <br>
<h3>Genre: <%= @game.genre %> </h3> <br>
<h3>Description: <%= @game.description %></h3> <br>

<button><%= link_to 'Add to Collection', addtocollection_path(@user, @game), method: :post %></button>
